button.large {
  min-width: 48px;
  min-height: 48px;
}

.timerbutton {
  font-size: 70px;
  font-feature-settings: "tnum" 1;
  font-weight: 100;
  min-width: 240px;
  border-radius: 0;
}

.black {
  color: rgba(255, 255, 255, 0.9);
}

.white {
  color: rgba(0, 0, 0, 0.8);
}

.black:backdrop {
  color: rgba(255, 255, 255, 0.7);
  transition: color 200ms ease-in;
}

.white:backdrop {
  color: rgba(0, 0, 0, 0.6);
  transition: color 200ms ease-in;
}

.inverted box {
  transform: rotate(180deg);
}

.timerbutton.black {
  background-color: @brown_5;
  filter: opacity(1);
}

.timerbutton.white {
  background-color: @brown_1;
  filter: opacity(1);
}

.timerbutton.black:backdrop {
  filter: opacity(0.8);
  transition: filter 200ms ease-in;
}

.timerbutton.white:backdrop {
  filter: opacity(0.8);
  transition: filter 200ms ease-in;
}

.timerbutton.running {
  font-weight: 300;
}

.expired {
  color: @light_1;
}

.timerbutton.expired.black {
  background-color: @red_4;
}

.timerbutton.expired.white {
  background-color: @red_3;
}

.timerbutton:focus-visible {
  outline: 2px solid;
  outline-offset: -20px;
}

.timerbutton.white:focus-visible {
  outline-color: #1c71d8;
}

.timerbutton.black:focus-visible {
  outline-color: #78aeed;
}

label.colon {
  min-width: 17px;
}

label.custom-label {
  font-size: 3em;
  min-width: 0.75em;
}

button.time-button {
  padding-left: 15px;
  padding-right: 15px;
}

spinbutton.custom-spin {
  font-size: 3em;
  min-width: 0.75em;
}

headerbar.transparent {
  opacity: 0;
}
